

/* Mobile Device 320px */

* {
  margin: 1px;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  background: whitesmoke;
}


 nav {
   display: block;
   margin-bottom: 2rem;
 }

 .main-header {
   text-align: center;

 }

 h1 {
   text-align: center;
   font-size: 1.8rem;
   line-height: 1.1;
   margin-top: 1.3rem;
   margin-bottom: 1.3rem;

 }

 h2 {
   font-size: 1.30rem;
   text-transform: uppercase;
   padding-top: 1.8rem;
   padding-bottom: 2rem;
}

h3 {
  padding-top: 1.25rem;
}

 ul {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.0rem;
  padding: 0;
  color: darkgray;
 }

ul li {
  background-color: white;
  line-height: 2.0;
  margin-bottom: 5px;
  color: darkgray;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
}

.primary-content {
  text-align: center;
}

img {
  max-width: 90%;
}

.intro-pic {
  width: 75%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro {
  overflow: auto;
  font-size: 1.12rem;
  color: darkgray;
  margin-bottom: 2rem;
}

.portfolio {
  background-color: white;
  line-height: 1.5;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
    padding-top: 1.8rem;
  padding-bottom: 2rem;
}

.portfolio p,
h3,
img {
  margin-bottom: 1rem;
}

.portfolio p {
  overflow: auto;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}

.contact p {
  font-size: 1.1rem;
  color: darkgray;
  line-height: 1.5;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.footer-nav-bar {
  border-top: 2px solid darkgray;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
}

.foot-h1 {
  float: left;
  font-size: 1.2rem;
}

.foot-nav-ul li {
  list-style: none;
  float: right;
  background: whitesmoke;
  padding-top: 0.75rem;
}

.foot-nav-ul li:nth-child(-n + 3) {
  display: none;
  font-weight: bold;
}

/* Media Query responsive 768px */

@media (min-width: 768px){
  * {
    margin: .5rem;
  }

/* Header 768px */

  .top-h1 {
    font-size: 2.2rem;
    padding-top: 0.8rem;
  }

  .nav li{
    display: inline-block;
    background: whitesmoke;
    font-size: 1.3rem;
  }

/* Intro 768px  */

  .intro-pic {
    width: 33%;
    height: auto;
    float: right;
    margin-top: 1rem;
    margin-right: 0;
    margin-left: 0rem;
  }

  .intro p{
    width: 65%;
    height: auto;
    font-size: 1.3rem;
    text-align: left;
  }

  /* Portfolio */

  .portfolio {
    height: 85rem;
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-marketing {
    width: 45%;
    height: auto;
    float: left;
    background: white;
    margin-right: .25rem;
    margin-left: .25rem;
    padding-right: 0;
  }

  .block-search {
    width: 45%;
    height: auto;
    float: right;
    background: white;
    margin right: .25rem;
    margin-left: .25rem;
  }

  .block-travel {
    width: 45%;
    height: auto;
    float: left;
    background: white;
    margin-right: .25rem;
    margin-left: .25rem;
    padding-right: 0
  }

  .block-spots {
    width: 45%;
    height: auto;
    float: right;
    background: white;
    margin right: .25rem;
    margin-left: .25rem;
  }

  .block-photos {
    width: 45%;
    height: auto;
    float: left;
    background: white;
    margin-right: .25rem;
    margin-left: .25rem;
    padding-right: 0;
  }

  .block-calculator {
    width: 45%;
    height: auto;
    float: right;
    background: white;
    margin right: .25rem;
    margin-left: .25rem;
    padding: 0;
  }

  .contact h2,
    p {
    font-size: 1.45rem;
  }

  .foot-h1 {
    padding-top: 0.75rem;
  }

  .foot-nav-ul li:nth-child(-n + 3) {
    display: block;
  }

/*.foot-nav-ul li:last-child{
    display: none;
  } */

}


/* Media query 1024px */

@media (min-width: 1024px) {
  body {
    margin: 14px;
  }

  .main-header {
    margin-right: 0;
  }

  .top-h1 {
    float: left;
    margin: 15px 0 0;
    padding-top: 0px;
  }

  .nav {
    margin-right: 14px;
    padding-left: 38rem;
  }

  .top-nav {
    margin-right: 0;
  }

  .nav a {
    text-align: right;
    margin-right: 0;
  }

  .intro {
    margin-right: 0px;
    margin-left: 0px;
    color: darkgray;
  }

  .intro p{
    padding-right: 10px;
  }

  .intro-pic {
    margin-left: 5px;
  }

  .portfolio {
    height: 60rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .block-marketing {
    width: 31%;
    height: auto;
    float: left;
    background: white;
    margin-right: .25rem;
    margin-left: .25rem;
    padding-right: 0;
  }

  .block-search {
    width: 31%;
    height: auto;
    float: right;
    background: white;
    margin: 8px 4px;
    padding-right: 0;
  }

  .block-search p{
    margin-bottom: 0;
  }

  .block-travel {
    width: 31%;
    height: auto;
    float: center;
    background: white;
    margin-right: .25rem;
    margin-left: 20px;
    padding-right: 0
  }

  .block-spots {
    width: 31%;
    height: auto;
    float: left;
    background: white;
    margin right: .25rem;
    margin-left: .25rem;
  }

  .block-photos {
    width: 31%;
    height: auto;
    float: center;
    background: white;
    margin-right: .25rem;
    margin-left: 20px;
    padding-right: 0;
  }

  .block-calculator {
    width: 31%;
    height: auto;
    float: right;
    background: white;
    margin right: .25rem;
    margin-left: .25rem;
    padding: 0;
  }

  .contact p {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.25rem;
  }

  a {
    font-weight: bold;
    color: slategray;
  }

}
